# ======= Dev requirements
## 2.9.0.7 has my zset watch fixes
##mockredis=2.9.0.7  
## use my branch to get other fixes
git+https://github.com/noise/mockredis.git@92f7acb169c13988aeb2b60c8c9ef32072925edd

nose==1.3.3


# ======= App requirements
Flask==0.10.1


# ======= Module requirements
# Thanks to https://caremad.io/blog/setup-vs-requirement/:

--index-url https://pypi.python.org/simple/
-e .
